.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  grid-template-areas: "task code" "task code" "output code";
  width: 90%;
  height: 100%;
  margin: 2em;
}
.taskcontainer {
  grid-area: "task";
  padding: 1em;
  border-radius: 30px;
  border: 2px solid rgb(238, 93, 128);
}
.codecontainer {
  grid-area: "code";
  padding: 1em;
  border-radius: 30px;
  border: 2px solid rgb(238, 93, 128);
}

.answercontainer {
  grid-area: "output";
  padding: 1em;
  border-radius: 30px;
  border: 2px solid rgb(238, 93, 128);
}
